@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Source+Sans+Pro&display=swap');


:root {
    --orange: #CD954D;
    --white: #F7F4F2;
    --grey: #414954;
    --brown: #9F4A37;
    --lightgrey: #9CB1B0;
    --green: #5a945f;
}

html {
    font-size: 62.5%;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    font-size: 1.6rem;
    height: 100vh;
    font-family: 'Lato', sans-serif;
    background-color: var(--white);
}


/* Header */

.logo {
    background: url(../images/logo.jpg) no-repeat center;
    background-size: cover;
    min-height: 36rem;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}

.heading {
    margin-left: 5rem;
}

.bg-colour-name-title {
    background-color: var(--grey);
}

.name {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 6rem;
    margin-top: 5rem;
    color: var(--white);
}

.title {
    font-size: 4rem;
    margin: 2rem auto 6rem auto;
    color: var(--white);
}

.menu-colour-home {
    background-color: var(--orange);
}

.menu-colour-resume {
    background-color: var(--lightgrey);
}

.menu-colour-contact {
    background-color: var(--brown);
}

.menu-colour-download {
    background-color: var(--green);
}

.menu-container {
    font-size: 0;
}

#nav li {
    font-size: 2rem;
    padding: 0;
    text-align: center;  
}

.list-inline-item:not(:last-child) {
    margin: 0;
}

#nav li a {
    text-decoration: none;
    color: var(--white);
}