@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Source+Sans+Pro&display=swap');


:root {
    --orange: #CD954D;
    --white: #F7F4F2;
    --grey: #414954;
    --brown: #9F4A37;
    --lightgrey: #9CB1B0;
    --darkgrey: #202020;
    --green: #5a945f;
    --purple: #8a328a;
    --about-colour: #bbc9dd;
}

html {
    font-size: 62.5%;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    font-size: 1.6rem;
    height: 100vh;
    font-family: 'Lato', sans-serif;
    background-color: var(--white);
}

/* General */

.uppercase {
    text-transform: uppercase;
}

.general-sub {
    color: var(--white);
}

.inline-block {
    display: inline-block;
}

.history-heading,
.section-heading {
    margin: 4rem 3rem;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 3rem;
}

.row-table {
    display: table;
}

.section-column {
    display: table-cell;
    padding: 0 3rem 3rem;
    float: none;
}

/* Header */

.logo {
    background: url(../images/logo.jpg) no-repeat center;
    background-size: cover;
    min-height: 37rem;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}

.heading {
    margin-left: 5rem;
}

.bg-colour-name-title {
    background-color: var(--grey);
}

.name {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 4rem;
    margin-top: 5rem;
    color: var(--white);
}

.title {
    font-size: 2.5rem;
    margin: 2rem auto 6rem auto;
    color: var(--white);
}

.menu-colour-home {
    background-color: var(--orange);
}

.menu-colour-resume {
    background-color: var(--lightgrey);
}

.menu-colour-contact {
    background-color: var(--brown);
}

.menu-colour-download {
    background-color: var(--green);
}

.menu-colour-github {
    background-color: var(--darkgrey);
}

.menu-colour-interests {
    background-color: var(--purple);
}

.menu-container {
    font-size: 0;
}

#nav {
    margin: 0;
}

#nav li {
    font-size: 2rem;
    padding: 0;
    text-align: center;  
    height: 12rem;
}

.list-inline-item:not(:last-child) {
    margin: 0;
}

#nav li a {
    width: 100%;
    text-decoration: none;
    color: var(--white);
}

#nav i {
    display: block;
    padding-top: 2rem;
    font-size: 2.5rem;
}

#nav span {
    display: block;
    text-transform: uppercase;
    font-size: 2rem;
    padding-top: 1.5rem;
    width: 100%;
}

.hvr-sweep-to-bottom:before {
    height: 12rem;
    background-color: rgba(0,0,0,0.2);
}

#map {
    min-height: 36rem;
}

/* Footer */

footer {
    background-color: var(--grey);
    min-height: 12rem;
    color: var(--white);
    padding: 4rem;
}

footer h5 {
    font-size: 2rem;
    margin: 2rem;
    text-align: center;
}

footer p {
    text-align: center;
}

footer ul {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.cv-pdf i:hover,
.social-links  li a i:hover {
    color: var(--orange);
    background-color: var(--white);
}

.social-links  li a i,
.cv-pdf i {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2rem auto;
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    font-size: 2rem;
    color: var(--grey);
    background-color: var(--orange);
    transition: .3s ease-in-out;
}

.social-links a {
    text-decoration: none;
}

/* About me */

.three-reasons-icon {
    font-size: 3rem;
    color: var(--orange);
}

.three-reasons-icon-container{
    padding: 0;
}

.three-reasons-heading {
    margin-bottom: 2rem;
}

.bg-color-personal-info {
    background-color: var(--orange);
}

/* Personal info */

.personal-info-item {
    margin-bottom: 1rem;
    display: block;
    clear: both;
}

.personal-info-item .key,
.personal-info-item .value {
    padding-right: 1rem;
    display: inline-block;
}

.personal-info-item p,
.personal-info-item p {
margin: 0;
}

.personal-info-item .key {
    width: 30%;
    margin-right: 2rem;
    padding-top: 2px;
    vertical-align: top;
}

.personal-info-item .key p {
    font-weight: 700;
}

.personal-info-item .value {
    position: relative;
    width: 60%;
}

.resume-icon {
    font-size: 3rem;
    color: var(--lightgrey);
}


/* Skills */

.progress {
    position: relative;
    height: 3rem;
    margin-bottom: 1rem;
}

.progress-type {
    position: absolute;
    left: 0;
    font-weight: 400;
    font-size: 1.5rem;
    padding: 3px 3rem 2px 1rem;
    color: var(--white);
    background-color: rgba(25,25,25,0.2);
    height: 100%;
}

.progress-section {
    margin: 3rem auto;
}

.bg-color-work-history {
    background-color: var(--lightgrey);
}


/* Work history */

.history-heading {
   margin-bottom: 5rem; 
}

.timeline-item {
    padding: 4rem 2rem 0 2rem;
    position: relative;
    color: var(--white);
    border-left: 1px solid var(--white);
}

.timeline-item p {
    padding: 0;
    margin: 0;
}

.timeline-item h2 {
    margin-top: 1rem;
}

.timeline-item:before {
    content: attr(data-dates);
    position: absolute;
    left: 2rem;
    top: 3rem;
    display: block;
    font-size: 1rem;
    padding: 0;
    margin: 0;
}

.timeline-item:after {
    width: 1.2rem;
    height: 1.2rem;
    display: block;
    top: 3rem;
    position: absolute;
    left: -0.66rem;
    border-radius: 50%;
    content: '';
    background-color: var(--white);
}

.history-items {
    margin-bottom: 3rem;
}

/* Contact Form */

.contact-heading {
    font-size: 3rem;
    margin: 3rem auto;
}

.contact-sub-heading {
    font-size: 2rem;
}

.center-form {
    padding-top: 1rem;
    margin: 0 auto;
    max-width: 70%;

}

button[type="submit"] {
    margin: 2rem auto;
    background-color: var(--brown);
    font-size: 2rem;
    padding: 1rem;
}

button[type="submit"]:hover {
    background-color: var(--grey);
}

.form-control {
    margin: 2rem auto;
    border: 0.2px solid var(--brown);
    padding: 2rem;
    font-size: 2rem;
}

.form-control:focus {
    box-shadow: 0 0 0 0.2rem rgba(159, 74, 55, 0.2);
    border-color: var(--brown);
}

.form-control::placeholder {
    font-size: 1.5rem;
    color: var(--brown);
}

@media (min-width: 992px) {
    .center-form {
        padding-top: 3rem;
        min-height: 24rem;
        max-width: 50%;
    }
}


@media (min-width: 770px) {

    .name {
        font-size: 6rem;
    }

    .title {
        font-size: 4rem;
    }
}